{% extends "layout.html" %}
{% block content %}
    <div class="card">

        <h3 class="text-center">Join Eyebleach!</h3>
    
        <form class="text-center border border-light p-5" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="field">
                    {{ form.username(placeholder="Username", class="form-control mb-4") }}
                </div>
                <div class="field">
                    {{ form.email(placeholder="Email", class="form-control mb-4") }}
                </div>
                <div class="field">
                    {{ form.password(placeholder="Password", class="form-control mb-4") }}
                </div>
                <div class="field">
                    {{ form.password_confirm(placeholder="Confirm Password", class="form-control mb-4") }}
                </div>
                <div class="field">
                    {{ form.submit }}
                </div>
            </fieldset>
        </form>

        <div>
            <small>Already joined? Click <a href="{{ url_for('login')}}">here</a> to sign in!</small>
        </div>
    </div>
{% endblock content %}